b {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color:;
  color: ;
  /* background-image: url(images/sewol32017.jpg) */
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

/* Headings */
.big-heading {}

/*Navigation Bar */

.navbar {
  padding: 0 0 ;
  background-color: #fff;

}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/*Title Image*/
.title-image {
  width: 80%;
  transform: rotate(5deg);
  position: absolute;
  right: 30%;
}

/*Features Section*/
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #f7ef00;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #f7ef00;
}

/* Testimonial Section*/
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #f7ef00;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}
#press {
  background-color: #f7ef00;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.price-text {
  font-siz: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  background-color: #f7ef00;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  Line-height: 1.5;
}

/* Footer section */
#footer {
  padding: 7% 15%;
  background-color: #f7ef00;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
